{#- Template: variables.yaml.j2 #}
# This file has been generated using the launch-cli
{%- if data.config.provider == 'aws' %}
    {%- set ns = namespace(source_tag="") %}
    {%- set elements = data.path.split('/') %}
    {%- set element_after = None %}
    {%- for i in range(elements | length) %}
        {%- if elements[i] == 'platform' %}
            {%- if 'pipeline' in elements[i + 2] %}
                {%- set ns.source_tag = data.config.sources.pipeline.tag %}
            {%- endif %}
            {%- if 'git' in elements[i + 2] %}
                {%- set ns.source_tag = data.config.sources.webhook.tag %}
            {%- endif %}
        {%- endif %}
    {%- endfor %}

git_tag: {{ ns.source_tag }}
{%- elif data.config.provider == 'az' %}
{%- set targetEnvironment = data.path.split('/')[-1] %}

variables:
  vmImageNameMSFTHosted: ubuntu-latest
  serviceConnection: sandbox-nexientcloud-sn
  targetEnvironment: {{ targetEnvironment}}
{%- else %}
# This file is not used for the current provider. It is safe to delete.
{%- endif %}
