{#- Template: service.hcl.j2 #}
# This file has been generated using the launch-cli
{%- set ns = namespace(source_module="") %}
{%- set elements = data.path.split('/') %}
{%- set element_after = None %}
{%- for i in range(elements | length) %}
{%-   if elements[i] == 'platform' %}
{%-     if 'pipeline' in elements[i + 2] %}
{%-       set ns.source_module = data.config.sources.pipeline.url %}
{%-     elif 'webhook' in elements[i + 2] %}
{%-       set ns.source_module = data.config.sources.webhook.url %}
{%-     endif %}
{%-   endif %}
{%- endfor %}
terraform {
  source = "git::{{ ns.source_module }}//.?ref=${local.git_tag}"
}

locals {
  inputs = yamldecode(file("${get_terragrunt_dir()}/./git_tag.yaml"))
  git_tag = local.inputs.git_tag
}
