{# Template: region.hcl.j2 #}
# Copyright 2024 NTT DATA, Inc. All Rights Reserved.

# This file has been generated using the launch-cli
{% set dir = data.path.split('/')[-1] %}
locals {
  region = "{{ dir }}"
}
