{#- Template: service.hcl.j2 #}
# This file has been generated using the launch-cli
terraform {
  source = "git::{{ data.config.sources.service.url }}//.?ref=${local.git_tag}"
}

locals {
  inputs = yamldecode(file("${get_terragrunt_dir()}/./git_tag.yaml"))
  git_tag = local.inputs.git_tag
}
