{#- Template: pipeline.yaml.j2 #}
{%- set elements = data.path.split('/') %}
{%- set resource = "none" %}
{%- set provider = "none" %}
{%- for i in range(elements | length) %}
{%-   if elements[i] == 'platform' %}
    {%- set resource = elements[i + 2] | replace("-provider", "") %}
{%-   endif %}
{%- endfor %}
{%- if data.config.provider[resource] is defined %}
{%-   set provider = data.config.provider[resource] %}
{%- else %}
{%-   set provider =  data.config.provider.service %}
{%- endif %}
{%- if provider == 'ado' %}
# This file has been generated using the launch-cli

trigger:
  branches:
    include:
    - feature/init

variables:
- template: variables.yaml

# Found behavior were resources cannot have vars
resources:
  repositories:
  - repository: 'launchPlatform'
    type: 'github'
    name: 'nexient-llc/lcaf-component-provider_az-pipeline_azdo'
    ref: 'refs/heads/feature/1456'
    endpoint: 'aaron-launch'

stages:
- template: iac/stages/release.yaml@launchPlatform
  parameters:
    vmImageNameMSFTHosted: $(vmImageNameMSFTHosted)
    serviceConnection: $(serviceConnection)
    targetEnvironment: $(targetEnvironment)
{%- endif %}
