{#- Template: variables.yaml.j2 #}
{%- if data.config.provider == 'az' %}
# This file has been generated using the launch-cli
{%- set targetEnvironment = data.path.split('/')[-1] %}

variables:
  vmImageNameMSFTHosted: ubuntu-latest
  serviceConnection: sandbox-nexientcloud-sn
  targetEnvironment: {{ targetEnvironment}}
{%- endif %}
