{# Template: terragrunt.hcl.j2 #}
# Copyright 2024 NTT DATA, Inc. All Rights Reserved.

# This file has been generated using the launch-cli
include "root" {
  path = find_in_parent_folders()
}

include "common" {
{% set elements = data.path.split('/') %}{% set element_after = None %}{% for i in range(elements | length) %}{% if elements[i] == 'platform' %}
  path = "${get_repo_root()}/platform/{{ elements[i + 1] }}/tf-configuration/service.hcl"{% endif %}{% endfor %}
}
